@if (solarPanelIdenfitication$ | async; as solarPanelIdenfitication) {
  <div class="component-container elevation-level4">
  
    <ng-content select="[header]"></ng-content>
  
    <h1>{{"I18N.COMMON.OVERVIEW" | transloco}}</h1>
    
    <h2>{{"I18N.COMMON.PRODUCT_INFORMATION_TITLE" | transloco}}</h2>  
    <ul class="information-list">
      <li>{{"I18N.COMMON.CATEGORY" | transloco}}: {{solarPanelIdenfitication.category}}</li>
      <li>{{"I18N.COMMON.MANUFACTURER" | transloco}}: {{solarPanelIdenfitication.manufacturer}}</li>
      <li>{{"I18N.COMMON.SERIAL_NUMBER" | transloco}}: {{solarPanelIdenfitication.serialNumber}}</li>
      <li>{{"I18N.COMMON.MODEL" | transloco}}: {{solarPanelIdenfitication.model}}</li>
      <li>{{"I18N.COMMON.TYPE" | transloco}}: {{solarPanelIdenfitication.type}}</li>
    </ul>
  
    <h2>{{"I18N.COMMON.DAMAGES_TITLE" | transloco}}</h2>
    @if (solarPanelDamage$ | async; as solarPanelDamage) {
      <ul class="damages-list">
        @if (solarPanelDamage.hotSpots) { <li>Hot Spots</li> }        
        @if (solarPanelDamage.microCracks) { <li>Micro Cracks</li> }        
        @if (solarPanelDamage.snailTrails) { <li>Snail Trails</li> }        
        @if (solarPanelDamage.brokenGlass) { <li>Broken Glass</li> }
        @if (solarPanelDamage.additionalDetails) {
          <li>
            Additional Details:
            {{solarPanelDamage.additionalDetails}}
          </li>
        }
      </ul>
    }    
  </div>
}

<div stepper-buttons class="hide">
  <button mat-raised-button type="button" matStepperPrevious>
    {{"I18N.COMMON.BACK" | transloco}}
  </button>
  <button mat-raised-button type="button" class="primary"
    (click)="save()">
    Generate Recommendation
  </button>
</div>