<div class="component-container mat-elevation-z8" *ngIf="solarPanelIdenfitication$ | async as solarPanelIdenfitication">

  <!-- <ng-content select="[header]"></ng-content> -->

  <h1>{{"I18N.COMMON.OVERVIEW" | translate}}</h1>
  
  <h2>{{"I18N.COMMON.PRODUCT_INFORMATION_TITLE" | translate}}</h2>  
  <ul class="information-list">
    <li>{{"I18N.COMMON.CATEGORY" | translate}}: {{solarPanelIdenfitication.category}}</li>
    <li>{{"I18N.COMMON.MANUFACTURER" | translate}}: {{solarPanelIdenfitication.manufacturer}}</li>
    <li>{{"I18N.COMMON.SERIAL_NUMBER" | translate}}: {{solarPanelIdenfitication.serialNumber}}</li>
    <li>{{"I18N.COMMON.MODEL" | translate}}: {{solarPanelIdenfitication.model}}</li>
    <li>{{"I18N.COMMON.TYPE" | translate}}: {{solarPanelIdenfitication.type}}</li>
  </ul>

  <h2>{{"I18N.COMMON.DAMAGES_TITLE" | translate}}</h2>
  <section *ngIf="solarPanelDamage">
    <ul class="damages-list">
      <li *ngIf="solarPanelDamage.hotSpots">
        Hot Spots
      </li>
      <li *ngIf="solarPanelDamage.microCracks">
        Micro Cracks
      </li>
      <li *ngIf="solarPanelDamage.snailTrails">
        Snail Trails
      </li>
      <li *ngIf="solarPanelDamage.brokenGlass">
        Broken Glass
      </li>
      <li *ngIf="solarPanelDamage.additionalDetails">
        Additional Details:
        {{solarPanelDamage.additionalDetails}}
      </li>
    </ul>
  </section>
</div>

<div stepper-buttons class="hide">
  <button mat-raised-button type="button" matStepperPrevious>
    {{"I18N.COMMON.BACK" | translate}}
  </button>
  <button mat-raised-button type="button" color="primary">
    Generate Recommendation
  </button>
</div>