.container-damages {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

/* Disable click events for the panel header only */
.mat-expansion-panel-header {
  pointer-events: none;
}

/* 
Enable click events for checkboxes on the panel header.
However, you can slightly click outside the checkbox and expand the panel manually, 
to fix that use together with (click)="$event.stopPropagation()" on mat-checkbox
*/
.mat-expansion-panel-header .mat-mdc-checkbox {
  pointer-events: auto;
}