<div class="component-container mat-elevation-z8" *ngIf="washingMachine$ | async as washingMachine">

  <ng-content select="[header]"></ng-content>

  <h1>{{"I18N.COMMON.OVERVIEW" | translate}}</h1>
  
  <h2>{{"I18N.COMMON.PRODUCT_INFORMATION_TITLE" | translate}}</h2>  
  <ul class="product-information-list">
    <li>{{"I18N.COMMON.CATEGORY" | translate}}: {{washingMachine.category}}</li>
    <li>{{"I18N.COMMON.MANUFACTURER" | translate}}: {{washingMachine.manufacturer}}</li>
    <li>{{"I18N.COMMON.SERIAL_NUMBER" | translate}}: {{washingMachine.serialNumber}}</li>
    <li>{{"I18N.COMMON.MODEL" | translate}}: {{washingMachine.model}}</li>
    <li>{{"I18N.COMMON.TYPE" | translate}}: {{washingMachine.type}}</li>
  </ul>

  <h2>{{"I18N.COMMON.DAMAGE_IDENTIFICATION_TITLE" | translate}}</h2>
  <ul class="product-information-list">
    <li>{{"I18N.COMMON.DAMAGE_TYPE" | translate}}: {{washingMachine.damageType}}</li>
    <li>{{"I18N.COMMON.RETURN_TYPE" | translate}}: {{washingMachine.returnType}}</li>
    <li>{{"I18N.COMMON.IDENTIFICATION_MODE" | translate}}: {{washingMachine.identificationMode}}</li>
  </ul>

  <h2>{{"I18N.COMMON.DAMAGED_PRODUCT_IMAGES_TITLE" | translate}}</h2>
  <section class="image-list">
    <img *ngFor="let file of selectedFiles" [src]="file.url">
  </section>

  <h2>{{"I18N.COMMON.DAMAGES_TITLE" | translate}}</h2>
  <section *ngIf="washingMachineDetails$ | async as washingMachineDetails">
    <ul class="product-information-list">
      <li>{{"I18N.COMMON.DAMAGE_LEVEL" | translate}}: {{washingMachine.damageLevel}}</li>
    </ul> 
    
    <div class="damages-container">
      <article *ngIf="washingMachineDetails.applicablePackageDamage">
        <h3>{{"I18N.COMMON.PACKAGE" | translate}}</h3>

        <ul class="damages-list">
          <li *ngIf="washingMachineDetails.packageDamaged">{{"I18N.COMMON.PACKAGE_DAMAGED" | translate}}</li>
          <li *ngIf="washingMachineDetails.packageDirty">{{"I18N.COMMON.PACKAGE_DIRTY" | translate}}</li>
          <li *ngIf="washingMachineDetails.packageMaterialAvailable">{{"I18N.COMMON.PACKAGE_REPACKAGE" | translate}}</li>
        </ul>
      </article>

      <article *ngIf="washingMachineDetails.applicableVisibleSurfacesDamage">
        <h3>{{"I18N.COMMON.VISIBLE_SURFACES" | translate}}</h3>

        <ul class="damages-list">
          <li *ngIf="washingMachineDetails.visibleSurfacesHasScratches">
            {{"I18N.COMMON.SCRATCHES_LENGTH" | translate}}:
            {{washingMachineDetails.visibleSurfacesScratchesLength}} 
            {{"I18N.COMMON.CM" | translate}}
          </li>
          <li *ngIf="washingMachineDetails.visibleSurfacesHasDents">
            {{"I18N.COMMON.DENTS_DEPTH" | translate}}:
            {{washingMachineDetails.visibleSurfacesDentsDepth}} 
            {{"I18N.COMMON.CM" | translate}}
          </li>
          <li *ngIf="washingMachineDetails.visibleSurfacesHasMinorDamage">
            {{"I18N.COMMON.MINOR_DAMAGES" | translate}}:
            {{washingMachineDetails.visibleSurfacesMinorDamage}}
          </li>
          <li *ngIf="washingMachineDetails.visibleSurfacesHasMajorDamage">
            {{"I18N.COMMON.MAJOR_DAMAGES" | translate}}:
            {{washingMachineDetails.visibleSurfacesMajorDamage}}
          </li>
        </ul>
      </article>

      <article *ngIf="washingMachineDetails.applicableHiddenSurfacesDamage">
        <h3>{{"I18N.COMMON.HIDDEN_SURFACES" | translate}}</h3>

        <ul class="damages-list">
          <li *ngIf="washingMachineDetails.hiddenSurfacesHasScratches">
            {{"I18N.COMMON.SCRATCHES_LENGTH" | translate}}:
            {{washingMachineDetails.hiddenSurfacesScratchesLength}} 
            {{"I18N.COMMON.CM" | translate}}
          </li>
          <li *ngIf="washingMachineDetails.hiddenSurfacesHasDents">
            {{"I18N.COMMON.DENTS_DEPTH" | translate}}:
            {{washingMachineDetails.hiddenSurfacesDentsDepth}} 
            {{"I18N.COMMON.CM" | translate}}
          </li>
          <li *ngIf="washingMachineDetails.hiddenSurfacesHasMinorDamage">
            {{"I18N.COMMON.MINOR_DAMAGES" | translate}}:
            {{washingMachineDetails.hiddenSurfacesMinorDamage}}
          </li>
          <li *ngIf="washingMachineDetails.hiddenSurfacesHasMajorDamage">
            {{"I18N.COMMON.MAJOR_DAMAGES" | translate}}:
            {{washingMachineDetails.hiddenSurfacesMajorDamage}}
          </li>
        </ul>
      </article>

      <article *ngIf="washingMachineDetails.price > 0 && washingMachineDetails.repairPrice > 0">
        <h3>{{"I18N.COMMON.PRICING" | translate}}</h3>

        <ul class="damages-list">
          <li>
            {{"I18N.COMMON.PRODUCT_PRICE" | translate}}: {{washingMachineDetails.price}} €
          </li>
          <li>
            {{"I18N.COMMON.PRODUCT_REPAIR_PRICE" | translate}}: {{washingMachineDetails.repairPrice}} €
          </li>
        </ul>
      </article>
    </div>

  </section>
</div>

<div stepper-buttons class="hide">
  <button mat-raised-button type="button" matStepperPrevious>
    {{"I18N.COMMON.BACK" | translate}}
  </button>
  <button mat-raised-button type="button" color="primary" matStepperNext
    (click)="saveWashingMachine()">
    {{"I18N.PRODUCT_RECOMMENDATION.GENERATE_RECOMMENDATION" | translate}}
  </button>
</div>