<header>
  <section class="logo-menu">
    <img class="logo" src="assets/logos/hephaestus-logo.png">
    <span routerLink="/home">Home</span>
    <span [matMenuTriggerFor]="historyMenu">History</span>

    <mat-menu #historyMenu="matMenu">
      <button mat-menu-item routerLink="/washing-machines/history">Washing Machine</button>
      <button mat-menu-item routerLink="/solar-panels/history">Solar Panel</button>
    </mat-menu>
  </section>

  <p class="title">{{"I18N.COMMON.SERVICE_TITLE" | transloco}}</p>

  <section class="language-profile-menu">
    <app-language-selector></app-language-selector>

    <article class="profile-menu" [matMenuTriggerFor]="profileMenu">
      <mat-icon svgIcon="profile"></mat-icon>
      <span>{{(currentUser$ | async)?.username}}</span>
    </article>

    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </section>
</header>
