<div class="washing-machine-status">
  @if (washingMachineIdentification$ | async; as washingMachineIdentification) {
    <span>{{"I18N.COMMON.IDENTIFICATION_MODE" | transloco}}: {{washingMachineIdentification.identificationMode | toLabel}} </span> 
  
    <span>{{"I18N.COMMON.DAMAGE_TYPE" | transloco}}: {{washingMachineIdentification.damageType | toLabel}}</span>
  }

  <div class="washing-machine-title">{{"I18N.COMMON.WASHING_MACHINE" | transloco | titlecase}}</div>    

  @if (washingMachineIdentification$ | async; as washingMachineIdentification) {
    <span>{{"I18N.COMMON.MANUFACTURER" | transloco}}: {{washingMachineIdentification.manufacturer}}</span>

    @if (washingMachineIdentification.model !== 'N/A') {}
    <span>{{"I18N.COMMON.MODEL" | transloco}}: {{washingMachineIdentification.model}}</span>

    @if (washingMachineIdentification.type !== 'N/A') {
      <span>{{"I18N.COMMON.TYPE" | transloco}}: {{washingMachineIdentification.type}} </span>
    }
  }
</div>

<mat-stepper class="background-color">  
  <mat-step [stepControl]="firstFormGroup" > <!-- STEP ONE -->
    <ng-template matStepLabel>{{"I18N.WASHING_MACHINE.PRODUCT_IDENTIFICATION" | transloco}}</ng-template>
    <!-- TODO: Possible overflow usage. But needs to be in px, else it won't work... -->
    <!-- <div class="overflow-test"> -->
      <app-washing-machine-identification></app-washing-machine-identification>
    <!-- </div> -->
  </mat-step>
  
  <mat-step [stepControl]="secondFormGroup"> <!-- STEP TWO -->
    <ng-template matStepLabel>{{"I18N.WASHING_MACHINE.DAMAGE_ASSESSMENT" | transloco}}</ng-template>
    <ng-template matStepContent>
      <app-washing-machine-damage></app-washing-machine-damage>
    </ng-template> 
  </mat-step>
  
  <mat-step [stepControl]="thirdFormGroup"> <!-- STEP THREE -->
    <ng-template matStepLabel>{{"I18N.WASHING_MACHINE.DAMAGE_OVERVIEW" | transloco}}</ng-template>   
    <ng-template matStepContent>
      <app-washing-machine-overview></app-washing-machine-overview>
    </ng-template>   
  </mat-step>
  
  <mat-step [stepControl]="fourthFormGroup"> <!-- STEP FOUR -->            
    <ng-template matStepLabel>{{"I18N.WASHING_MACHINE.RECOMMENDATION" | transloco}}</ng-template>        
    <ng-template matStepContent>
      <app-washing-machine-recommendation></app-washing-machine-recommendation>
    </ng-template>
  </mat-step>
</mat-stepper>

