<mat-card class="mat-elevation-z8">
  <mat-card-title>Select Damage <span>*</span></mat-card-title>
  <form [formGroup]="solarPanelDamageForm" (ngSubmit)="null" (reset)="null">

    <ul class="damages-list">
      <div class = "damage-container">
        <img src="../../../../assets/images/placeholder.jpg">
        <mat-checkbox formControlName="hotSpots">
          Hot Spots
        </mat-checkbox>
      </div>
      <div class = "damage-container">
        <img src="../../../../assets/images/placeholder.jpg">
        <mat-checkbox formControlName="microCracks">
          Micro Cracks
        </mat-checkbox>
      </div>
      <div class = "damage-container">
        <img src="../../../../assets/images/placeholder.jpg">
        <mat-checkbox formControlName="snailTrails">
          Snail Trails
        </mat-checkbox>
      </div>
      <div class = "damage-container">
        <img src="../../../../assets/images/placeholder.jpg">
        <mat-checkbox formControlName="brokenGlass">
          Broken Glass
        </mat-checkbox>
      </div>
    </ul>
      
    <article>  
      <h4 class="text-align-center">Is there anything else we should know about the damage?</h4>
      
      <div class="text-align-center">
        <mat-form-field class="text-area text-align-cente" appearance="outline">
          <mat-label>Provide additional damage details</mat-label>
          <textarea matInput formControlName="additionalDetails"
            rows="5"></textarea>            
          <mat-hint> 0 / 200 </mat-hint>
        </mat-form-field>
      </div>
    </article>  

  </form>
</mat-card>

<div stepper-buttons>
  <button mat-raised-button type="reset" (click)="navigateToPreviousStep()">
    {{"I18N.COMMON.BACK" | translate}}
  </button>

  <button mat-raised-button type="reset" color="warn">
    {{ "I18N.COMMON.RESET" | translate }}
  </button>

  <button mat-raised-button type="submit" color="primary" (click)="navigateToNextStep()">
    {{ "I18N.COMMON.NEXT" | translate }}
  </button>
</div>

<pre>
  {{solarPanelDamageForm.getRawValue() | json}}
</pre>