/* *************************************************** */
/* *** MAT CARDS */
/* *************************************************** */

mat-card {
  padding: 0% 0% 2% 0%;
  margin: 2% 20%;
  border-radius: 8px;
  overflow: hidden;
}

mat-card-title {
  text-align: center;
  padding: 0.75rem;
  margin-bottom: 2%;

  color: #444;
  font-size: 1.25rem;  
  background-color:#cfd3e6;
}

/* *************************************************** */
/* *** DAMAGES */
/* *************************************************** */

.damages-list {
  display: grid; 
  justify-content: center;
  grid-template-columns: repeat(2, 300px);
  row-gap: 64px;
  column-gap: 128px;
}

.damage-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* *************************************************** */
/* *** IMAGES */
/* *************************************************** */

img {
  border-radius: 10px;
  height: 300px;
}

/* *************************************************** */
/* *** TEXT AREA */
/* *************************************************** */

.text-area {
  width: 450px;
}