<form [formGroup]="solarPanelDamageForm" (ngSubmit)="onSubmit()">
<mat-card class="elevation-level4">
  <mat-card-title>Select Damage</mat-card-title>
  
  <ul class="damages-list">
    <div class = "damage-container">
      <img src="assets/images/placeholder.jpg">
      <mat-checkbox formControlName="hotSpots">
        Hot Spots
      </mat-checkbox>
    </div>
    <div class = "damage-container">
      <img src="assets/images/placeholder.jpg">
      <mat-checkbox formControlName="microCracks">
        Micro Cracks
      </mat-checkbox>
    </div>
    <div class = "damage-container">
      <img src="assets/images/placeholder.jpg">
      <mat-checkbox formControlName="snailTrails">
        Snail Trails
      </mat-checkbox>
    </div>
    <div class = "damage-container">
      <img src="assets/images/placeholder.jpg">
      <mat-checkbox formControlName="brokenGlass">
        Broken Glass
      </mat-checkbox>
    </div>
  </ul>
    
  <article>  
    <h4 class="text-align-center">Is there anything else we should know about the damage?</h4>
    
    <div class="text-align-center">
      <mat-form-field class="text-area text-align-cente" appearance="outline">
        <mat-label>Provide additional damage details</mat-label>
        <textarea matInput formControlName="additionalDetails"
          [maxLength]="charactersMaxLimit"
          rows="5"></textarea>
        <mat-hint>
          {{
            solarPanelDamageForm.controls.additionalDetails.value.length
            +" / "+
            charactersMaxLimit
          }}
        </mat-hint>
      </mat-form-field>
    </div>
  </article>
</mat-card>

<div stepper-buttons>
  <button mat-raised-button type="reset" matStepperPrevious>
    {{"I18N.COMMON.BACK" | transloco}}
  </button>

  <button mat-raised-button type="reset" color="warn">
    {{ "I18N.COMMON.RESET" | transloco }}
  </button>

  <button mat-raised-button type="submit" color="primary">
    {{ "I18N.COMMON.NEXT" | transloco }}
  </button>
</div>
</form>

<!-- <pre>
  {{solarPanelDamageForm.getRawValue() | json}}
</pre> -->