<div class="solar-panel-status" >

    <div class="solar-panel-title">Solar Panel</div>    

</div>

<mat-stepper class="background-color" #stepper>
    <!-- STEP ONE -->
    <mat-step>
      <ng-template matStepLabel>Identification</ng-template>

    </mat-step>

    <!-- STEP TWO -->
    <mat-step>
      <ng-template matStepLabel>Damage Assessment</ng-template>
      <ng-template matStepContent>
        
      </ng-template>
    </mat-step>

    <!-- STEP THREE -->
    <mat-step>
      <ng-template matStepLabel>Overview</ng-template>
      <ng-template matStepContent>
        
      </ng-template>
    </mat-step>

    <!-- STEP FOUR -->
    <mat-step>
      <ng-template matStepLabel>Recommendation</ng-template>
      <ng-template matStepContent>
        
      </ng-template>
    </mat-step>
  </mat-stepper>
