<mat-card class="elevation-level4">
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <mat-card-content>
    <aside>
      <img class="service-logo" src="assets/logos/hephaestus-logo.png"/>
      <div class="service-title">
        {{ "I18N.COMMON.SERVICE_TITLE" | transloco | titlecase }}
      </div>
    </aside>

    <section class="registration-form">
      <div class="form-title">
        {{ "I18N.REGISTER.TITLE" | transloco }}
      </div>

      <mat-form-field appearance="outline">
        <mat-label>{{"I18N.COMMON.REGISTER_CODE" | transloco}}</mat-label>
        <input matInput formControlName="code"/>

        @if(registerForm.controls.code.errors?.required) {
          <mat-error>{{ "I18N.MAT_ERROR.REGISTER_CODE_REQUIRED" | transloco }}</mat-error>          
        }

        @if(registerForm.controls.code.errors?.invalid) {
          <mat-error>{{ "I18N.MAT_ERROR.REGISTER_CODE_INVALID" | transloco }}</mat-error>
        }

        @if(registerForm.controls.code.errors?.backendError) {
          <mat-error>{{ "I18N.MAT_ERROR.NO_CONNECTION" | transloco }}</mat-error>
        }

        @if (registerForm.controls.code.pending) {
          <mat-hint>{{ "I18N.MAT_HINT.PENDING" | transloco }}</mat-hint>          
        }

        @if(registerForm.controls.code.valid) {
          <mat-hint>{{ "I18N.MAT_HINT.REGISTER_CODE_VALID" | transloco }}</mat-hint>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "I18N.COMMON.COUNTRY" | transloco }}</mat-label>
        <input matInput formControlName="country" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{"I18N.COMMON.ORGANIZATION" | transloco}}</mat-label>
        <input matInput formControlName="organization"/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "I18N.COMMON.EMAIL" | transloco }}</mat-label>
        <input matInput formControlName="email"/>

        @if (registerForm.controls.email.errors?.required) {
          <mat-error>{{ "I18N.MAT_ERROR.EMAIL_REQUIRED" | transloco }}</mat-error>
        }

        @if (registerForm.controls.email.errors?.email) {
          <mat-error>{{ "I18N.MAT_ERROR.EMAIL_INVALID" | transloco }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "I18N.COMMON.USERNAME" | transloco }}</mat-label>
        <input matInput formControlName="username"/>

        <mat-error>
          {{ "I18N.MAT_ERROR.USERNAME_REQUIRED" | transloco }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" id="password">
        <mat-label>{{ "I18N.COMMON.PASSWORD" | transloco }}</mat-label>
        <input matInput type="password" formControlName="password"/>

        @if (registerForm.controls.password.errors?.required) {
          <mat-error>{{ "I18N.MAT_ERROR.PASSWORD_REQUIRED" | transloco }}</mat-error>
        }

        @if(registerForm.controls.password.errors?.minlength) {
          <mat-error>{{ "I18N.MAT_ERROR.PASSWORD_LENGTH" | transloco }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{"I18N.COMMON.CONFIRM_PASSWORD" | transloco}}</mat-label>
        <input matInput type="password" formControlName="confirmPassword"/>

        @if (registerForm.controls.confirmPassword.errors?.required) {
          <mat-error>{{ "I18N.MAT_ERROR.CONFIRM_PASSWORD_REQUIRED" | transloco }}</mat-error>
        }

        @if(registerForm.controls.confirmPassword.errors?.passwordMismatch) {
          <mat-error>{{ "I18N.MAT_ERROR.PASSWORDS_MATCHING" | transloco }}</mat-error>
        }
      </mat-form-field>

      <footer>
        <button mat-raised-button type="submit" class="primary margin-bottom">
          {{ "I18N.COMMON.REGISTER" | transloco | uppercase }}
        </button>

        <button mat-raised-button type="reset" class="warn">
          {{ "I18N.COMMON.RESET" | transloco | uppercase }}
        </button>

        <div class="account-existence-text">
          {{ "I18N.REGISTER.ACCOUNT_EXISTS" | transloco }}
          &nbsp;
          <span class="login-text" routerLink="/login">
            {{ "I18N.COMMON.LOG_IN" | transloco }}
          </span>
        </div>
      </footer>
    </section>    
  </mat-card-content>
  </form>

  <app-language-selector class="language-container"></app-language-selector>
</mat-card>

<!-- <pre>
  {{registerForm.getRawValue() | json}}
</pre> -->
