<ul>
  <mat-card class="mat-elevation-z15" routerLink="/washing-machines">
    <img src="assets/images/washing-machine.png">
    <article class="description">
      <span>Washing Machines</span>
    </article>
  </mat-card>

  <mat-card class="mat-elevation-z15">
    <img src="assets/images/dishwasher.png">
    <article class="description">
      <span>Dishwashers</span>
    </article>

    <span class="label">Under development</span>
  </mat-card>

  <mat-card class="mat-elevation-z15" routerLink="/solar-panels">
    <img src="assets/images/solar-panel.png">
    <article class="description">
      <span>Solar Panels</span>
    </article>

    <span class="label">Under development</span>
  </mat-card>  
</ul>
