@use '@angular/material' as mat;

.notif-error {
  @include mat.snack-bar-overrides((
    container-color: #c72c41,
    supporting-text-color: #f8e7e9,
    button-color: #f8e7e9
  ));
}

.notif-warning {
  @include mat.snack-bar-overrides((
    container-color: #f08c00,
    supporting-text-color: #f8e7e9,
    button-color: #f8e7e9
  ));
}

.notif-success {
  @include mat.snack-bar-overrides((
    container-color: #4e8d7c,
    supporting-text-color: #f8e7e9,
    button-color: #f8e7e9
  ));
}