.disassemble {
  background-color: #fa5252;
  color: white !important;
  font-weight: 500;

  border: none;
}

.repair {
  background-color: #ffa94d;
  color: #444;
  font-weight: 500;
  
  border: none;
}

.repackage {
  background-color: #a5d8ff;
  color: #444;
  font-weight: 500;

  border: none;
}

.resale {
  background-color: #c0eb75;
  color: #444;
  font-weight: 500;
  
  border: none;
}

.outlet {
  background-color: #e0aaff;
  color: #444;
  font-weight: 500;
  
  border: none;
}

.recycle {
  background-color: #4cd3c2;
  color: #444;
  font-weight: 500;

  border: none;
}

.dispose {
  background-color: #ff6bcb;
  color: white;
  font-weight: 500;

  border: none;
}