<div mat-dialog-title class="title">QR Scanner</div>

<mat-dialog-content class="camera-container">  

  <section class="camera-scanner">
    <zxing-scanner
      [formats]="allowedFormats"
      [enable]="scannerEnabled"

      (camerasFound)="camerasFoundHandler($event)"
      (camerasNotFound)="camerasNotFoundHandler()"
      
      (scanSuccess)="onScanSuccess($event)">    
    </zxing-scanner>

    @if (!scannerEnabled) {
      <div class="camera-scanner-placeholder">
        <img src="assets/images/scanner-qr.png">
        
        @if (noCamerasFound) {
          <p> 
            No cameras found. <br> 
            Use Upload Image to scan from an image file.
          </p>
        }
      </div>
    }

    @if(cameraIsLoading) {
      <div class="camera-scanner-loading">
        <app-spinner></app-spinner>
      </div>
    }

    @if (scannerEnabled) {
      <div class="camera-scanner-switch">
        <button mat-raised-button type="button" class="primary"
          (click)="switchCamera()"
          [disabled]="cameraIsLoading || availableCameras.length === 1">
  
          <mat-icon class="icon-camera" svgIcon="camera_SWITCH"></mat-icon>
        </button>
      </div>
    }
  </section>
</mat-dialog-content>

<input #QRInput type="file" 
  accept=".png, .jpg, .jpeg, .bmp"
  onClick="this.value=null" 
  (change)="uploadImage($event)"
>

<!-- TODO: Make background color span left to right, the whole width of the flexbox -->
<mat-dialog-actions class="buttons-container">

  <button mat-raised-button type="button"       
    [class]="scannerEnabled && !cameraIsPaused ? 'warn' : 'primary'"
    (click)="onStart()"
    [disabled]="cameraIsLoading || noCamerasFound">

    @if (scannerEnabled && !cameraIsPaused) {
      <mat-icon class="icon-camera" svgIcon="camera_OFF"></mat-icon>
    } @else {
      <mat-icon class="icon-camera" svgIcon="camera_ON"></mat-icon>
    }
  </button>

  <p class="upload-image-info">
    In case of scanning failure or unavailable cameras,    
    use <b>Upload Image</b> option to scan from an image file.  
  </p>

  <button class="upload-image-button" mat-raised-button class="primary" type="button" (click)="QRInput.click()">
    <div class="upload-image-content">
      <mat-icon class="upload-icon" svgIcon="upload"></mat-icon>

      <span>Upload Image</span>
      
      <mat-icon class="text-color help-tip" 
        [matTooltip]=uploadHelp
        matTooltipPosition="right" 
        svgIcon="help">
      </mat-icon>
    </div>
  </button>

  <button class="close-button" mat-raised-button class="warn" type="button" (click)="closeDialog()"> 
    Close
  </button>
</mat-dialog-actions>
 
<!-- @if(availableCameras) {
  <pre>
    === Selected camera ===
    {{availableCameras[cameraIndex] | json}}
  
    === Available cameras ===
    {{availableCameras | json}}
  </pre>
} -->