* {
  transition: all 0.5s;
}

input[type=file] {
  display: none;
}

/* *************************************************** */
/* *** MAT CARDS */
/* *************************************************** */

ul {
  padding: 0;
  margin: 2% 10%;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

mat-card {
  padding: 0% 0% 2% 0%;
  border-radius: 8px;
  overflow: hidden;
}

mat-card-title {
  text-align: center;
  padding: 0.75rem;
  margin-bottom: 2%;

  color: #444;
  font-size: 1.25rem;  
  background-color:#cfd3e6;
}

mat-card-title span {
  color: red;
}

/* *************************************************** */
/* *** UPLOAD IMAGES */
/* *************************************************** */

legend {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 0 10px;
}

fieldset {
  width: 90%;
  margin: auto;
  margin-bottom: 1%;

  border-radius: 10px;
  border: 2px dashed #ddd;  
}

.images-list {
  display: flex;
  justify-content: center;
  gap: 2%;

  margin-top: 1%;
  margin-bottom: 1%;
}

.image-container {
  position: relative;
}

.image-container img {
  height: 150px;
  width: auto;
}

.button-remove-image {
  font-size: 1rem;
  cursor: pointer;

  position: absolute;
  top: 3%;
  right: 3%;
}

.no-images-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.placeholder-image {
  align-self: center;
  height: 120px;
  width: 120px;

  margin-bottom: 2%;
}

.help-tip {
  vertical-align: -50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

/* *************************************************** */
/* *** PACKAGE DAMAGE RELATED */
/* *************************************************** */

.container-damages-repackage {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

/* *************************************************** */
/* *** VISIBLE & HIDDEN SURFACES RELATED */
/* *************************************************** */

.container-damages {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);

  column-gap: 8rem;
  row-gap: 4rem;
  margin: 0 6%;
}

.text-area {
  width: 350px;
}

/* *************************************************** */
/* *** EVALUATE PRICE RELATED */
/* *************************************************** */

.container-price {
  display: flex;
  justify-content: center;

  gap: 2rem;
}

/* *************************************************** */
/* *** EXPANSION PANEL RELATED */
/* *************************************************** */

.damage-panels {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  margin: 0 10%;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

/* Disable click events for the panel header only */
.mat-expansion-panel-header {
  pointer-events: none;
}

/* Enable click events for checkboxes on the panel header */
.mat-expansion-panel-header .mat-checkbox {
  pointer-events: auto;
}

/* ********************************* */
/* *** MAT SLIDER RELATED */
/* ********************************* */

.mat-slider-horizontal {
  width: 300px;
}

.container-slider {
  display: flex;
  justify-content: center;  
  gap: 8px;
}

.slider-label {
  text-align: center;
}

/* SLIDER = always display the thumb label */
::ng-deep .mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

::ng-deep .mat-slider-thumb {
  transform: scale(0) !important;
}

::ng-deep .mat-slider-thumb-label-text {
  opacity: 1 !important;
}
