<form [formGroup]="washingMachineDetailForm" (ngSubmit)="onSubmit()" (reset)="onReset($event)">
<ul>
  <mat-card class="elevation-level4">
    <mat-card-title>{{"I18N.PRODUCT_DAMAGE.UPLOAD_IMAGES_TITLE" | transloco}} <span>*</span></mat-card-title>    
    <app-file-upload
      [selectedImages]="selectedImages">
    </app-file-upload>
  </mat-card>

  <mat-card class="elevation-level4">
    <mat-card-title>{{"I18N.PRODUCT_DAMAGE.SELECT_DAMAGE_TITLE" | transloco}} <span>*</span></mat-card-title>

    <section class="damage-panels">   
      <app-package-form 
        [applicablePackageDamage] = "washingMachineDetailForm.controls.applicablePackageDamage"
        [packageForm] = "washingMachineDetailForm.controls.packageForm">
      </app-package-form>

      <app-visible-surfaces-form
        [applicableVisibleSurfacesDamage] = "washingMachineDetailForm.controls.applicableVisibleSurfacesDamage"
        [visibleSurfacesForm] = "washingMachineDetailForm.controls.visibleSurfacesForm">
      </app-visible-surfaces-form>

      <app-hidden-surfaces-form
        [applicableHiddenSurfacesDamage] = "washingMachineDetailForm.controls.applicableHiddenSurfacesDamage"
        [hiddenSurfacesForm] = "washingMachineDetailForm.controls.hiddenSurfacesForm">
      </app-hidden-surfaces-form>
    </section>  
  </mat-card>

  <mat-card class="elevation-level4">
    <mat-card-title>Cost Assessment</mat-card-title>
    <app-pricing-form [washingMachinePricingForm] = "washingMachinePricingForm"></app-pricing-form>
  </mat-card>
</ul>

<div stepper-buttons>
  <button mat-raised-button type="reset" matStepperPrevious>
    {{"I18N.COMMON.BACK" | transloco}}
  </button>

  <button mat-raised-button class="warn" type="reset">
    {{"I18N.COMMON.RESET" | transloco}}
  </button>

  <button mat-raised-button class="primary" type="submit">
    {{"I18N.COMMON.NEXT" | transloco}}
  </button>  
</div>
</form>

<!-- <pre>
  {{selectedFiles}}
  and length
  {{selectedFiles.length}}
</pre> -->

<!-- <pre>
  {{washingMachineDetailForm.getRawValue() | json}}
</pre> -->

<!-- <pre>
  {{washingMachinePricingForm.getRawValue() | json}}
</pre>  -->