/* *************************************************** */
/* *** MAT CARDS */
/* *************************************************** */

ul {
  padding: 0;
  margin: 2% 10%;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

mat-card {
  padding: 0% 0% 2% 0%;
  border-radius: 8px;
  overflow: hidden;
}

mat-card-title {
  text-align: center;
  padding: 0.75rem;
  margin-bottom: 2%;

  color: #444;
  background-color:#cfd3e6;

  span {
    color: red;
  }
}

/* *************************************************** */
/* *** EXPANSION PANEL RELATED */
/* *************************************************** */

.damage-panels {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  margin: 0 10%;
}