<input type="file" #fileInput
  multiple
  accept=".png, .jpg, .jpeg, .bmp" 
  onClick="this.value=null"
  (change)="onFileUpload($event)"> 

<form [formGroup]="washingMachineDetailForm" (ngSubmit)="onSubmit()" (reset)="onReset($event)">
<ul>
<mat-card class="elevation-level4">
  <mat-card-title>{{"I18N.PRODUCT_DAMAGE.UPLOAD_IMAGES_TITLE" | transloco}} <span>*</span></mat-card-title>
  <fieldset dragAndDrop (filesDropped)="onDrop($event)">
    <legend class="text-align-center">
      <button mat-raised-button type="button" color="primary" 
        (click)="fileInput.click()"
        [disabled]="selectedFiles.length === 3">
        <mat-icon svgIcon="upload"></mat-icon> &nbsp; {{"I18N.COMMON.UPLOAD_IMAGES" | transloco}} &nbsp; {{selectedFiles.length}} / 3
      </button>
  
      <mat-icon class="text-color help-tip" 
        matTooltip='{{"I18N.HELP_TOOLTIP.UPLOAD_IMAGES" | transloco}}'
        matTooltipPosition='right' 
        svgIcon="help">
      </mat-icon>
    </legend>
  
    <section class="images-list">
      @if (selectedFiles.length > 0) {
        @for (file of selectedFiles; track file; let i = $index) {
          <div class="image-container">
            <img [src]="file.url"/>
            <button class="button-remove-image" type="button" (click)="onRemoveImage(i)">x</button>
          </div>
        }
      } @else {
        <div class="text-color no-images-placeholder">
          <img src="assets/images/drag-and-drop.png" class="placeholder-image">
          <div>{{"I18N.PRODUCT_DAMAGE.NO_IMAGES_PLACEHOLDER_1" | transloco}}</div>
          <div>{{"I18N.PRODUCT_DAMAGE.NO_IMAGES_PLACEHOLDER_2" | transloco}}</div>
        </div>
      }
    </section>
  </fieldset>
</mat-card>

<mat-card class="elevation-level4">
  <mat-card-title>{{"I18N.PRODUCT_DAMAGE.SELECT_DAMAGE_TITLE" | transloco}} <span>*</span></mat-card-title>

  <section class="damage-panels">    
    <mat-expansion-panel [expanded]="washingMachineDetailForm.controls.applicablePackageDamage.value">
      <mat-expansion-panel-header>
        <mat-panel-title>{{"I18N.COMMON.PACKAGE" | transloco}}</mat-panel-title>
        <mat-panel-description>
          {{"I18N.PRODUCT_DAMAGE.SELECT_APPLICABLE" | transloco}} 
          {{"I18N.COMMON.PACKAGE" | transloco}}
          <mat-checkbox formControlName="applicablePackageDamage" (click)="$event.stopPropagation()">
            {{"I18N.COMMON.APPLICABLE" | transloco}}
          </mat-checkbox>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <article class="container-damages-repackage" formGroupName="packageForm">
        <mat-checkbox formControlName="packageDamaged">{{"I18N.COMMON.PACKAGE_DAMAGED" | transloco}}</mat-checkbox>
        <mat-checkbox formControlName="packageDirty">{{"I18N.COMMON.PACKAGE_DIRTY" | transloco}}</mat-checkbox>
        <mat-checkbox formControlName="packageMaterialAvailable">{{"I18N.COMMON.PACKAGE_REPACKAGE" | transloco}}</mat-checkbox>
      </article>  
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="washingMachineDetailForm.controls.applicableVisibleSurfacesDamage.value">
      <mat-expansion-panel-header>
        <mat-panel-title>{{"I18N.COMMON.VISIBLE_SURFACES" | transloco}}</mat-panel-title>
        <mat-panel-description>
          {{"I18N.PRODUCT_DAMAGE.SELECT_APPLICABLE" | transloco}} 
          {{"I18N.COMMON.VISIBLE_SURFACES" | transloco}}
          <mat-checkbox formControlName="applicableVisibleSurfacesDamage" (click)="$event.stopPropagation()">
            {{"I18N.COMMON.APPLICABLE" | transloco}}
          </mat-checkbox>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="container-damages" formGroupName="visibleSurfacesForm">              
        <article>
          <mat-checkbox formControlName="visibleSurfacesHasScratches"
            (change)="toggle_VisibleSurfaces_ScratchesLength()"> 
            {{"I18N.PRODUCT_DAMAGE.SCRATCHES" | transloco}}
          </mat-checkbox>

          <h4 class="text-align-center">{{"I18N.PRODUCT_DAMAGE.SELECT_SCRATCHES_LENGTH" | transloco}}</h4>

          <div class="container-slider">
            <span class="slider-label">0
              <br>
              {{"I18N.COMMON.CM" | transloco}}
            </span>
            <mat-slider discrete
              min=0 
              max=10
              step=0.5
              tickInterval=1
              showTickMarks>
              <input matSliderThumb formControlName="visibleSurfacesScratchesLength">
            </mat-slider>
            <span class="slider-label">10
              <br>
              {{"I18N.COMMON.CM" | transloco}}
            </span>
          </div>
        </article>

        <article>
          <mat-checkbox formControlName="visibleSurfacesHasDents"
          (change)="toggle_VisibleSurfaces_DentsDepth()">
            {{"I18N.PRODUCT_DAMAGE.DENTS" | transloco}} 
          </mat-checkbox>

          <h4 class="text-align-center">{{"I18N.PRODUCT_DAMAGE.SELECT_DENTS_DEPTH" | transloco}}</h4>

          <div class="container-slider">
            <span class="slider-label">0
              <br>
              {{"I18N.COMMON.CM" | transloco}}
            </span>
            <mat-slider discrete 
              min=0
              max=10
              step=0.5 
              tickInterval=1
              showTickMarks>
              <input matSliderThumb formControlName="visibleSurfacesDentsDepth">
            </mat-slider>
            <span class="slider-label">10
              <br>
              {{"I18N.COMMON.CM" | transloco}}
            </span>
          </div>
        </article>
          
        <article>
          <mat-checkbox formControlName="visibleSurfacesHasMinorDamage"
          (change)="toggle_VisibleSurfaces_MinorDamage()">
            {{"I18N.COMMON.MINOR_DAMAGES" | transloco}}
          </mat-checkbox>

          <h4 class="text-align-center">{{"I18N.PRODUCT_DAMAGE.INPUT_MINOR_DAMAGES" | transloco}}</h4>
          
          <div class="text-align-center">
            <mat-form-field class="text-area" appearance="outline">
              <mat-label>{{"I18N.COMMON.MINOR_DAMAGES" | transloco}}</mat-label>
              <textarea matInput formControlName="visibleSurfacesMinorDamage"
                [maxlength]="minorDamageDescriptionCharacterLimit"                 
                rows="5"></textarea>
              <mat-error>{{"I18N.MAT_ERROR.MINOR_DAMAGES_REQUIRED" | transloco}}</mat-error>
    
              <mat-hint>
                {{
                  washingMachineDetailForm.controls.visibleSurfacesForm.controls.visibleSurfacesMinorDamage.value.length
                  +" / "+
                  minorDamageDescriptionCharacterLimit
                }}
              </mat-hint>
            </mat-form-field>  
          </div>
        </article>

        <article>
          <mat-checkbox formControlName="visibleSurfacesHasMajorDamage"
          (change)="toggle_VisibleSurfaces_MajorDamage()">
            {{"I18N.COMMON.MAJOR_DAMAGES" | transloco}}
          </mat-checkbox>

          <h4 class="text-align-center">{{"I18N.PRODUCT_DAMAGE.INPUT_MAJOR_DAMAGES" | transloco}}</h4>
          
          <div class="text-align-center">
            <mat-form-field class="text-area" appearance="outline">
              <mat-label>{{"I18N.COMMON.MAJOR_DAMAGES" | transloco}}</mat-label>
              <textarea matInput formControlName="visibleSurfacesMajorDamage"
                [maxlength]="majorDamageDescriptionCharacterLimit"                 
                rows="5"></textarea>
              <mat-error>{{"I18N.MAT_ERROR.MAJOR_DAMAGES_REQUIRED" | transloco}}</mat-error>
    
              <mat-hint>
                {{
                  washingMachineDetailForm.controls.visibleSurfacesForm.controls.visibleSurfacesMajorDamage.value.length
                  +" / "+
                  majorDamageDescriptionCharacterLimit
                }}
              </mat-hint>
            </mat-form-field>  
          </div>
        </article>          
      </div>
    </mat-expansion-panel> 

    <mat-expansion-panel [expanded]="washingMachineDetailForm.controls.applicableHiddenSurfacesDamage.value">
      <mat-expansion-panel-header>
        <mat-panel-title>{{"I18N.COMMON.HIDDEN_SURFACES" | transloco}}</mat-panel-title>
        <mat-panel-description>
          {{"I18N.PRODUCT_DAMAGE.SELECT_APPLICABLE" | transloco}} 
          {{"I18N.COMMON.HIDDEN_SURFACES" | transloco}}
          <mat-checkbox formControlName="applicableHiddenSurfacesDamage" (click)="$event.stopPropagation()">
            {{"I18N.COMMON.APPLICABLE" | transloco}}
          </mat-checkbox>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="container-damages" formGroupName="hiddenSurfacesForm">          
            
        <article>
          <mat-checkbox formControlName="hiddenSurfacesHasScratches"
            (change)="toggle_HiddenSurfaces_ScratchesLength()"> 
            {{"I18N.PRODUCT_DAMAGE.SCRATCHES" | transloco}}
          </mat-checkbox>

          <h4 class="text-align-center">{{"I18N.PRODUCT_DAMAGE.SELECT_SCRATCHES_LENGTH" | transloco}}</h4>

          <div class="container-slider">
            <span class="slider-label">0
              <br>
              {{"I18N.COMMON.CM" | transloco}}
            </span>
            <mat-slider discrete
              min=0 
              max=10 
              step=0.5
              tickInterval=1 
              showTickMarks>
              <input matSliderThumb formControlName="hiddenSurfacesScratchesLength">
            </mat-slider>
            <span class="slider-label">10
              <br>
              {{"I18N.COMMON.CM" | transloco}}
            </span>
          </div>
        </article>

        <article>
          <mat-checkbox formControlName="hiddenSurfacesHasDents"
          (change)="toggle_HiddenSurfaces_DentsDepth()">
            {{"I18N.PRODUCT_DAMAGE.DENTS" | transloco}} 
          </mat-checkbox>

          <h4 class="text-align-center">{{"I18N.PRODUCT_DAMAGE.SELECT_DENTS_DEPTH" | transloco}}</h4>

          <div class="container-slider">
            <span class="slider-label">0
              <br>
              {{"I18N.COMMON.CM" | transloco}}
            </span>
            <mat-slider discrete
              min=0
              max=10
              step=0.5 
              tickInterval=1
              showTickMarks>
              <input matSliderThumb formControlName="hiddenSurfacesDentsDepth">
            </mat-slider>
            <span class="slider-label">10
              <br>
              {{"I18N.COMMON.CM" | transloco}}
            </span>
          </div>
        </article>
          
        <article>
          <mat-checkbox formControlName="hiddenSurfacesHasMinorDamage"
          (change)="toggle_HiddenSurfaces_MinorDamage()">
            {{"I18N.COMMON.MINOR_DAMAGES" | transloco}}
          </mat-checkbox>

          <h4 class="text-align-center">{{"I18N.PRODUCT_DAMAGE.INPUT_MINOR_DAMAGES" | transloco}}</h4>
          
          <div class="text-align-center">
            <mat-form-field class="text-area" appearance="outline">
              <mat-label>{{"I18N.COMMON.MINOR_DAMAGES" | transloco}}</mat-label>
              <textarea matInput formControlName="hiddenSurfacesMinorDamage"
                [maxlength]="minorDamageDescriptionCharacterLimit"                 
                rows="5"></textarea>
              <mat-error>{{"I18N.MAT_ERROR.MINOR_DAMAGES_REQUIRED" | transloco}}</mat-error>
    
              <mat-hint>
                {{
                  washingMachineDetailForm.controls.hiddenSurfacesForm.controls.hiddenSurfacesMinorDamage.value.length
                  +" / "+
                  minorDamageDescriptionCharacterLimit
                }}
              </mat-hint>
            </mat-form-field>  
          </div>
        </article>

        <article>
          <mat-checkbox formControlName="hiddenSurfacesHasMajorDamage"
          (change)="toggle_HiddenSurfaces_MajorDamage()">
            {{"I18N.COMMON.MAJOR_DAMAGES" | transloco}}
          </mat-checkbox>

          <h4 class="text-align-center">{{"I18N.PRODUCT_DAMAGE.INPUT_MAJOR_DAMAGES" | transloco}}</h4>
          
          <div class="text-align-center">
            <mat-form-field class="text-area" appearance="outline">
              <mat-label>{{"I18N.COMMON.MAJOR_DAMAGES" | transloco}}</mat-label>
              <textarea matInput formControlName="hiddenSurfacesMajorDamage"
                [maxlength]="minorDamageDescriptionCharacterLimit"                 
                rows="5"></textarea>
              <mat-error>{{"I18N.MAT_ERROR.MAJOR_DAMAGES_REQUIRED" | transloco}}</mat-error>
    
              <mat-hint>
                {{
                  washingMachineDetailForm.controls.hiddenSurfacesForm.controls.hiddenSurfacesMajorDamage.value.length
                  +" / "+
                  majorDamageDescriptionCharacterLimit
                }}
              </mat-hint>
            </mat-form-field>
          </div>
        </article>
        
      </div>
    </mat-expansion-panel>
  </section>  
</mat-card>

<mat-card class="elevation-level4">
  <mat-card-title>Evaluate Price</mat-card-title>

  <section class="container-price" [formGroup]="washingMachinePricingForm">
    <mat-form-field appearance="fill">
      <mat-label>{{"I18N.COMMON.PRODUCT_PRICE" | transloco | titlecase}}</mat-label>
      <input matInput type="number" formControlName="price">
      <span matTextPrefix>€&nbsp;</span>

      @if(washingMachinePricingForm.controls.price.errors?.min) {
        <mat-error>{{"I18N.MAT_ERROR.PRODUCT_PRICE_MINIMUM" | transloco}}</mat-error>
      }

      @if(washingMachinePricingForm.controls.price.errors?.max) {
        <mat-error>{{"I18N.MAT_ERROR.PRODUCT_PRICE_MAXIMUM" | transloco}}</mat-error>
      }

      @if(washingMachinePricingForm.controls.price.errors?.required) {
        <mat-error>{{"I18N.MAT_ERROR.PRODUCT_PRICE_REQUIRED" | transloco}}</mat-error>
      }

      @if(washingMachinePricingForm.controls.price.errors?.minMaxError) {
        <mat-error>{{"I18N.MAT_ERROR.REPAIR_PRICE_EXCEEDS_PRODUCT_PRICE" | transloco}}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{"I18N.COMMON.PRODUCT_REPAIR_PRICE" | transloco | titlecase}}</mat-label>
      <input matInput type="number" formControlName="repairPrice">
      <span matTextPrefix>€&nbsp;</span>

      @if(washingMachinePricingForm.controls.repairPrice.errors?.min) {
        <mat-error>{{"I18N.MAT_ERROR.REPAIR_PRICE_MINIMUM" | transloco}}</mat-error>
      }

      @if(washingMachinePricingForm.controls.repairPrice.errors?.max) {
        <mat-error>{{"I18N.MAT_ERROR.REPAIR_PRICE_MAXIMUM" | transloco}}</mat-error>
      }

      @if(washingMachinePricingForm.controls.repairPrice.errors?.required) {
        <mat-error>{{"I18N.MAT_ERROR.REPAIR_PRICE_REQUIRED" | transloco}}</mat-error>
      }
      
      @if(washingMachinePricingForm.controls.repairPrice.errors?.minMaxError) {
        <mat-error>{{"I18N.MAT_ERROR.REPAIR_PRICE_EXCEEDS_PRODUCT_PRICE" | transloco}}</mat-error>
      }
    </mat-form-field>
  </section>
</mat-card>
</ul>

<div stepper-buttons>
  <button mat-raised-button type="reset" matStepperPrevious>
    {{"I18N.COMMON.BACK" | transloco}}
  </button>

  <button mat-raised-button class="warn" type="reset">
    {{"I18N.COMMON.RESET" | transloco}}
  </button>

  <button mat-raised-button class="primary" type="submit">
    {{"I18N.COMMON.NEXT" | transloco}}
  </button>  
</div>
</form>

<!-- <pre>
  {{selectedFiles}}
  and length
  {{selectedFiles.length}}
</pre> -->

<!-- <pre>
  {{washingMachineDetailForm.getRawValue() | json}}
</pre> -->

<!-- <pre>
  {{washingMachinePricingForm.getRawValue() | json}}
</pre>  -->