<form [formGroup]="solarPanelForm" (ngSubmit)="onSubmit()" (reset)="onReset($event)">
  <mat-card class="mat-mdc-elevation-specific mat-elevation-z8">
    <mat-card-title>Identification</mat-card-title>

    <article class="product-information">
      <mat-form-field appearance="fill">
        <mat-label>{{ "I18N.COMMON.PRODUCT_CATEGORY" | transloco }}</mat-label>
        <input matInput formControlName="category"/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{"I18N.COMMON.MANUFACTURER" | transloco}}</mat-label>        
        <mat-select formControlName="manufacturer" (valueChange)="getModelsAndTypes($event)">

          @for (manufacturer of availableManufacturers; track manufacturer) {
            <mat-option [value]="manufacturer">{{manufacturer}}</mat-option>
          }

        </mat-select>
        <mat-error>{{"I18N.MAT_ERROR.MANUFACTURER_REQUIRED" | transloco}}</mat-error>
      </mat-form-field>

      <mat-form-field class="normal-span" appearance="fill" formGroupName="modelAndType">
        <mat-label>{{"I18N.COMMON.MODEL" | transloco}}</mat-label>
        <mat-select formControlName="model">

          @for (model of availableModels; track model) {
            <mat-option [value]="model">{{model}}</mat-option>
          }

        </mat-select>
        <mat-error>{{"I18N.MAT_ERROR.MODEL_OR_TYPE_REQUIRED" | transloco}}</mat-error>
      </mat-form-field>

      <mat-form-field class="normal-span" appearance="fill" formGroupName="modelAndType">
        <mat-label>{{ "I18N.COMMON.TYPE" | transloco }}</mat-label>
        <mat-select formControlName="type"> 

          @for (type of availableTypes; track type) {
            <mat-option [value]="type">{{type}}</mat-option>
          }

        </mat-select>
        <mat-error>{{"I18N.MAT_ERROR.MODEL_OR_TYPE_REQUIRED" | transloco}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "I18N.COMMON.SERIAL_NUMBER" | transloco }}</mat-label>
        <input matInput formControlName="serialNumber" />
        @if (solarPanelForm.controls.serialNumber.errors?.required) {
          <mat-error>{{"I18N.MAT_ERROR.SERIAL_NUMBER_REQUIRED" | transloco}}</mat-error>
        }
      </mat-form-field>
    </article>
  </mat-card>

  <div stepper-buttons>
    <button mat-raised-button type="reset" color="warn">
      {{ "I18N.COMMON.RESET" | transloco }}
    </button>

    <button mat-raised-button type="submit" color="primary">
      {{ "I18N.COMMON.NEXT" | transloco }}
    </button>
  </div>
</form>

<!-- <pre> ====== FORM ======
  {{solarPanelForm.getRawValue() | json}}
</pre> -->