<mat-expansion-panel [expanded]="applicablePackageDamage.value">
  <mat-expansion-panel-header>
    <mat-panel-title>{{"I18N.COMMON.PACKAGE" | transloco}}</mat-panel-title>
    <mat-panel-description>
      {{"I18N.PRODUCT_DAMAGE.SELECT_APPLICABLE" | transloco}} 
      {{"I18N.COMMON.PACKAGE" | transloco}}
      <mat-checkbox [formControl]="applicablePackageDamage" (click)="$event.stopPropagation()">
        {{"I18N.COMMON.APPLICABLE" | transloco}}
      </mat-checkbox>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <article class="container-damages" [formGroup]="packageForm">
    <mat-checkbox formControlName="packageDamaged">{{"I18N.COMMON.PACKAGE_DAMAGED" | transloco}}</mat-checkbox>
    <mat-checkbox formControlName="packageDirty">{{"I18N.COMMON.PACKAGE_DIRTY" | transloco}}</mat-checkbox>
    <mat-checkbox formControlName="packageMaterialAvailable">{{"I18N.COMMON.PACKAGE_REPACKAGE" | transloco}}</mat-checkbox>
  </article>  
</mat-expansion-panel>

<!-- <pre>
  Applicable : {{applicablePackageDamage.value}}
  {{packageForm.getRawValue() | json}}
</pre> -->