<h3>{{"I18N.HISTORY.TITLE" | transloco}}</h3>

<div class="table-container elevation-level4">
  <form [formGroup]="filterForm" (ngSubmit)="onFilter()" (reset)="onReset()">
  <table mat-table matSort [dataSource]="dataSource">
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-header-row *matHeaderRowDef="filterColumns; sticky:true" cdkTrapFocus></tr>
    <tr mat-row *matRowDef="let washingMachine; columns: displayedColumns;"></tr>
    
    <ng-container matColumnDef="createdAt" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"I18N.COMMON.CREATED" | transloco | uppercase}}</th>
      <td mat-cell *matCellDef="let washingMachine"> {{washingMachine.createdAt | date: "yyyy-MM-dd HH:mm:ss"}}  </td>
    </ng-container>

        <!-- Additional filter column -->
        <ng-container matColumnDef="createdAt-filter" sticky>
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter-input" appearance="outline" dateFormat_YYYY-MM-DD>
              <mat-icon matPrefix svgIcon="search"></mat-icon>
              <input matInput [matDatepicker]="picker" id="first" formControlName="createdAt">
              <mat-datepicker-toggle matSuffix [for]="picker" tabindex="-1"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </th>
        </ng-container>

    <ng-container matColumnDef="identificationMode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"I18N.COMMON.IDENTIFICATION_MODE" | transloco | uppercase}}</th>
      <td mat-cell *matCellDef="let washingMachine"> {{washingMachine.identificationMode | toLabel}} </td>
    </ng-container>

        <!-- Additional filter column -->
        <ng-container matColumnDef="identificationMode-filter">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter-input" appearance="outline">
              <mat-icon matPrefix svgIcon="search"></mat-icon>
              <mat-select matInput formControlName="identificationMode"> 
                <mat-option></mat-option> <!-- Empty option to ensure null is sent to backend -->
                @for (option of identificationModeOptions; track option) {
                  <mat-option [value]= "option">{{option | toLabel}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </th>
        </ng-container>

    <ng-container matColumnDef="manufacturer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"I18N.COMMON.MANUFACTURER" | transloco | uppercase}}</th>
      <td mat-cell *matCellDef="let washingMachine"> {{washingMachine.manufacturer}} </td>
    </ng-container>

        <!-- Additional filter column -->
        <ng-container matColumnDef="manufacturer-filter">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter-input" appearance="outline">
              <mat-icon matPrefix svgIcon="search"></mat-icon>
              <input matInput formControlName="manufacturer"/>
            </mat-form-field>
          </th>
        </ng-container>
    
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"I18N.COMMON.MODEL" | transloco | uppercase}}</th>
      <td mat-cell *matCellDef="let washingMachine"> {{washingMachine.model}} </td>
    </ng-container>

        <!-- Additional filter column -->
        <ng-container matColumnDef="model-filter">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter-input" appearance="outline">
              <mat-icon matPrefix svgIcon="search"></mat-icon>
              <input matInput formControlName="model"/>
            </mat-form-field>
          </th>
        </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"I18N.COMMON.TYPE" | transloco | uppercase}}</th>
      <td mat-cell *matCellDef="let washingMachine"> {{washingMachine.type}} </td>
    </ng-container>

        <!-- Additional filter column -->
        <ng-container matColumnDef="type-filter">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter-input" appearance="outline">
              <mat-icon matPrefix svgIcon="search"></mat-icon>
              <input matInput formControlName="type"/>
            </mat-form-field>
          </th>
        </ng-container>

    <ng-container matColumnDef="serialNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"I18N.COMMON.SERIAL_NUMBER" | transloco | uppercase}}</th>
      <td mat-cell *matCellDef="let washingMachine"> {{washingMachine.serialNumber}} </td>
    </ng-container>

        <!-- Additional filter column -->
        <ng-container matColumnDef="serialNumber-filter">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter-input" appearance="outline">
              <mat-icon matPrefix svgIcon="search"></mat-icon>
              <input matInput formControlName="serialNumber"/>
            </mat-form-field>
          </th>
        </ng-container>

    <ng-container matColumnDef="returnType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"I18N.COMMON.RETURN_TYPE" | transloco | uppercase}}</th>
      <td mat-cell *matCellDef="let washingMachine"> {{washingMachine.returnType | toLabel}} </td>
    </ng-container>
    
        <!-- Additional filter column -->
        <ng-container matColumnDef="returnType-filter">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter-input" appearance="outline">
              <mat-icon matPrefix svgIcon="search"></mat-icon>
              <mat-select matInput formControlName="returnType"> 
                <mat-option></mat-option> <!-- Empty option to ensure null is sent to backend -->
                @for (option of returnTypeOptions; track option) {
                  <mat-option [value]= "option">{{option | toLabel}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </th>
        </ng-container>

    <ng-container matColumnDef="damageType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"I18N.COMMON.DAMAGE_TYPE" | transloco | uppercase}}</th>
      <td mat-cell *matCellDef="let washingMachine"> {{washingMachine.damageType | toLabel}} </td>
    </ng-container>

        <!-- Additional filter column -->
        <ng-container matColumnDef="damageType-filter">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter-input" appearance="outline">
              <mat-icon matPrefix svgIcon="search"></mat-icon>
              <mat-select matInput formControlName="damageType"> 
                <mat-option></mat-option> <!-- Empty option to ensure null is sent to backend -->
                @for (option of damageTypeOptions; track option) {
                  <mat-option [value]= "option">{{option | toLabel}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </th>
        </ng-container>

    <ng-container matColumnDef="recommendation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"I18N.COMMON.RECOMMENDATION" | transloco | uppercase}}</th>
      <td mat-cell *matCellDef="let washingMachine"> 
        <button type="button" class="recommendation-text" 
          [class.repackage]="washingMachine.recommendation === recommendation.REPACKAGE"
          [class.resale]="washingMachine.recommendation === recommendation.RESALE"
          [class.outlet]="washingMachine.recommendation === recommendation.OUTLET"
          [class.repair]="washingMachine.recommendation === recommendation.REPAIR"
          [class.disassemble]="washingMachine.recommendation === recommendation.DISASSEMBLE">
          {{washingMachine.recommendation}}
        </button> 
      </td>
    </ng-container>
    
        <!-- Additional filter column -->
        <ng-container matColumnDef="recommendation-filter">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field class="filter-input" appearance="outline">
              <mat-icon matPrefix svgIcon="search"></mat-icon>
              <mat-select matInput formControlName="recommendation"> 
                <mat-option></mat-option> <!-- Empty option to ensure null is sent to backend -->
                @for (option of recommendationOptions; track option) {
                  <mat-option [value]= "option">{{option}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </th>
        </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>{{"I18N.COMMON.ACTIONS" | transloco | uppercase}}</th>
      <td mat-cell *matCellDef="let washingMachine">

        <div class="actions-container">
          <button mat-raised-button type="button" (click)="onView(washingMachine)">
            {{"I18N.COMMON.VIEW" | transloco}}
          </button>
  
          <button mat-raised-button type="button" class="warn">
            {{"I18N.COMMON.DELETE" | transloco}}
          </button>
        </div>

      </td>
    </ng-container>

        <!-- Additional filter column -->
        <ng-container matColumnDef="actions-filter" stickyEnd>
          <th mat-header-cell *matHeaderCellDef>

            <div class="actions-container">
              <button mat-raised-button type="submit" class="primary" tabindex="-1"
                [disabled]="filterForm.invalid">
                Filter
              </button>
      
              <button mat-raised-button type="reset" class="warn" tabindex="-1">
                Reset
              </button>            
            </div>

          </th>
        </ng-container>    
  </table>
  </form>

  <mat-paginator showFirstLastButtons    
    [pageIndex]="pageNumber"
    [pageSize]="pageSize"
    [length]="totalElements"
    [pageSizeOptions]="pageSizeOptions"
    (page)="changePage($event)">
  </mat-paginator>
</div>

<!-- <pre>
  {{filterForm.getRawValue() | json}}
</pre> -->

<!-- <div style="margin: 0 auto; width:50%; display: flex; gap: 50px;">
  <mat-form-field dateFormat_slash_YYYY-MM-DD>
    <input matInput [matDatepicker]="pickerOne">
    <mat-hint>YYYY/MM/DD</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="pickerOne"></mat-datepicker-toggle>
    <mat-datepicker #pickerOne></mat-datepicker>
  </mat-form-field>

  <mat-form-field dateFormat_YYYY-MM-DD>
    <input matInput [matDatepicker]="pickerTwo">
    <mat-hint>YYYY-MM-DD</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="pickerTwo"></mat-datepicker-toggle>
    <mat-datepicker #pickerTwo></mat-datepicker>
  </mat-form-field>

  <mat-form-field dateFormat_MM-YYYY>
    <input matInput [matDatepicker]="pickerThree">
    <mat-hint>MM-YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="pickerThree"></mat-datepicker-toggle>
    <mat-datepicker #pickerThree></mat-datepicker>
  </mat-form-field>
</div> -->

