<h1 mat-dialog-title>{{"I18N.COMMON.OVERVIEW" | transloco}}</h1>

<mat-dialog-content>

  <section>
    <h2>{{"I18N.COMMON.RECOMMENDATION" | transloco}}</h2>

    <div class="text-align-center">
      <button class="recommendation-text"        
          [class.repair]="solarPanel.recommendation === 'REPAIR'"
          [class.recycle] = "solarPanel.recommendation === 'RECYCLE'"
          [class.dispose] = "solarPanel.recommendation === 'DISPOSE'">
          {{solarPanel.recommendation}}
      </button>
    </div>

    <p>{{"I18N.COMMON.CREATED" | transloco}}: {{solarPanel.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
  </section>

  <h2>{{"I18N.COMMON.PRODUCT_INFORMATION_TITLE" | transloco}}</h2>  
  <ul class="information-list">
    <li>{{"I18N.COMMON.CATEGORY" | transloco}}: {{solarPanel.category}}</li>
    <li>{{"I18N.COMMON.MANUFACTURER" | transloco}}: {{solarPanel.manufacturer}}</li>
    <li>{{"I18N.COMMON.SERIAL_NUMBER" | transloco}}: {{solarPanel.serialNumber}}</li>
    <li>{{"I18N.COMMON.MODEL" | transloco}}: {{solarPanel.model}}</li>
    <li>{{"I18N.COMMON.TYPE" | transloco}}: {{solarPanel.type}}</li>
  </ul>

  <h2>{{"I18N.COMMON.DAMAGES_TITLE" | transloco}}</h2>
  @if (solarPanel.solarPanelDamage; as solarPanelDamage) {
    <ul class="damages-list">
      @if (solarPanelDamage.hotSpots) { <li>Hot Spots</li> }        
      @if (solarPanelDamage.microCracks) { <li>Micro Cracks</li> }        
      @if (solarPanelDamage.snailTrails) { <li>Snail Trails</li> }        
      @if (solarPanelDamage.brokenGlass) { <li>Broken Glass</li> }
      @if (solarPanelDamage.additionalDetails) {
        <li>
          Additional Details:
          {{solarPanelDamage.additionalDetails}}
        </li>
      }
    </ul>
  }
</mat-dialog-content>

<mat-dialog-actions class="mat-dialog-actions-buttons">
  <button mat-raised-button type="button" class="primary" (click)="onDownload()">
    {{"I18N.COMMON.DOWNLOAD_RECOMMENDATION" | transloco}}
  </button>

  <button mat-raised-button type="button" class="warn" mat-dialog-close>
    {{"I18N.COMMON.CLOSE" | transloco}}
  </button>
</mat-dialog-actions>