<mat-card class="mat-mdc-elevation-specific mat-elevation-z8">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
  <img class="service-logo" src="assets/logos/hephaestus-logo.png"/>
  <mat-card-content>
    <header class="service-title">
      {{ "I18N.COMMON.SERVICE_TITLE" | transloco | titlecase }}
    </header>

    <mat-form-field appearance="outline" class="test">
      <mat-label>{{ "I18N.COMMON.USERNAME" | transloco }}</mat-label>
      <input matInput formControlName="username" />

      @if(loginForm.controls.username.errors?.required) {
        <mat-error>{{ "I18N.MAT_ERROR.USERNAME_REQUIRED" | transloco }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="test">
      <mat-label>{{ "I18N.COMMON.PASSWORD" | transloco }}</mat-label>
      <input matInput type="password" formControlName="password"/>

      @if(loginForm.controls.password.errors?.required) {
        <mat-error>{{ "I18N.MAT_ERROR.PASSWORD_REQUIRED" | transloco }}</mat-error>
      }
      
      @if(loginForm.controls.password.errors?.minlength) {
        <mat-error>{{ "I18N.MAT_ERROR.PASSWORD_LENGTH" | transloco }}</mat-error>
      }      
    </mat-form-field>
  </mat-card-content>

  <button mat-raised-button type="submit" color="primary">
    {{ "I18N.COMMON.LOG_IN" | transloco | uppercase }}
  </button>

  <footer class="registration-text">
    {{ "I18N.LOGIN.NO_ACCOUNT" | transloco }}
    &nbsp;
    <span class="create-account" routerLink="/register">
      {{ "I18N.LOGIN.TO_REGISTER" | transloco }}
    </span>
  </footer>
    
  <app-language-selector class="language-container"></app-language-selector>
  </form>
</mat-card>
