<div class="solar-panel-status" >
  @let identification = solarPanelIdentification();  
  @if (identification.manufacturer) {
    <span>{{"I18N.COMMON.MANUFACTURER" | transloco}}: {{identification.manufacturer}}</span>
  }

  <div class="solar-panel-title">Solar Panel</div>  

  @if (identification.model) {
    <span>{{"I18N.COMMON.MODEL" | transloco}}: {{identification.model}}</span>
  }

  @if (identification.type) {
    <span>{{"I18N.COMMON.TYPE" | transloco}}: {{identification.type}} </span>    
  }
</div>

<mat-stepper>
  <!-- STEP ONE -->
  <mat-step>
    <ng-template matStepLabel>Identification</ng-template>
    <app-solar-panel-identification></app-solar-panel-identification>
  </mat-step>

  <!-- STEP TWO -->
  <mat-step>
    <ng-template matStepLabel>Damage Assessment</ng-template>
    <ng-template matStepContent>
      <app-solar-panel-damage></app-solar-panel-damage>
    </ng-template>
  </mat-step>

  <!-- STEP THREE -->
  <mat-step>
    <ng-template matStepLabel>Overview</ng-template>
    <ng-template matStepContent>
      <app-solar-panel-overview></app-solar-panel-overview>
    </ng-template>
  </mat-step>

  <!-- STEP FOUR -->
  <mat-step>
    <ng-template matStepLabel>Recommendation</ng-template>
    <ng-template matStepContent>
      <app-solar-panel-recommendation></app-solar-panel-recommendation>
    </ng-template>
  </mat-step>
</mat-stepper>
