@use '@angular/material' as mat;
@use 'styles/recommendation';
@use 'styles/mat-snack-bar';
@use 'styles/mat-dialog';
@use 'styles/mat-stepper';
@use 'styles/mat-raised-button';
@use 'styles/mat-card';
@use 'styles/mat-toggle-button';

/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/* **************************************
// *** STYLES for general uses
// **************************************/

.text-align-center {
  text-align: center;
}

.text-color {
  color: #444;
}

/* **************************************
// *** Replacements for mat-elevation-zX
// **************************************/

.elevation-level5 { 
  box-shadow: var(--mat-sys-level5) !important;
}

.elevation-level4 {
  box-shadow: var(--mat-sys-level4) !important;
}

/* **************************************
// *** STYLES FOR INVALID FIELDSETS
// **************************************/

.fieldset-invalid {
  border-color: red;
}

.fieldset-invalid legend {
  color:red;
}

/* **************************************
// *** STYLES for INITIALIZATION SPINNER
// **************************************/

.initialization-spinner {
  @include mat.progress-spinner-overrides((
    active-indicator-color: #F76707
  ));
}

/* **************************************
// *** STYLES for MAT TOOLTIP
// **************************************/

.mdc-tooltip {
  white-space: pre-line;
  @include mat.tooltip-overrides((
    supporting-text-size: 12px
  ));
}
