<div class="component-container elevation-level4">

  <ng-content select="[header]"></ng-content>

  <h1>{{"I18N.COMMON.OVERVIEW" | transloco}}</h1>
  @let identification = washingMachineIdentification();

  <h2>{{"I18N.COMMON.PRODUCT_INFORMATION_TITLE" | transloco}}</h2>  
  <ul class="product-information-list">
    <li>{{"I18N.COMMON.CATEGORY" | transloco}}: {{identification.category}}</li>
    <li>{{"I18N.COMMON.MANUFACTURER" | transloco}}: {{identification.manufacturer}}</li>
    <li>{{"I18N.COMMON.SERIAL_NUMBER" | transloco}}: {{identification.serialNumber}}</li>
    <li>{{"I18N.COMMON.MODEL" | transloco}}: {{identification.model}}</li>
    <li>{{"I18N.COMMON.TYPE" | transloco}}: {{identification.type}}</li>
  </ul>

  <h2>{{"I18N.COMMON.DAMAGE_IDENTIFICATION_TITLE" | transloco}}</h2>
  <ul class="product-information-list">
    <li>{{"I18N.COMMON.IDENTIFICATION_MODE" | transloco}}: {{identification.identificationMode | toLabel}}</li>    
    <li>{{"I18N.COMMON.RETURN_TYPE" | transloco}}: {{identification.returnType | toLabel}}</li>
    <li>{{"I18N.COMMON.DAMAGE_TYPE" | transloco}}: {{identification.damageType | toLabel}}</li>
  </ul>

  <h2>{{"I18N.COMMON.DAMAGED_PRODUCT_IMAGES_TITLE" | transloco}}</h2>
  <section class="image-list">
    @for (file of selectedFiles; track file) {
      <img [src]="file.url">
    }
  </section>

  <h2>{{"I18N.COMMON.DAMAGES_TITLE" | transloco}}</h2>
  @let detail = washingMachineDetail();
  
  <section class="damages-container">      
    
    @if (detail.applicablePackageDamage) {
      <article>
        <h3>{{"I18N.COMMON.PACKAGE" | transloco}}</h3>

        <ul class="damages-list">
          @if (detail.packageDamaged) { <li>{{"I18N.COMMON.PACKAGE_DAMAGED" | transloco}}</li> }
          @if (detail.packageDirty) { <li>{{"I18N.COMMON.PACKAGE_DIRTY" | transloco}}</li> }
          @if (detail.packageMaterialAvailable) { <li>{{"I18N.COMMON.PACKAGE_REPACKAGE" | transloco}}</li> }            
        </ul>
      </article>
    }
    
    @if (detail.applicableVisibleSurfacesDamage) {
      <article>
        <h3>{{"I18N.COMMON.VISIBLE_SURFACES" | transloco}}</h3>

        <ul class="damages-list">
          @if (detail.visibleSurfacesHasScratches) {
            <li>
              {{"I18N.COMMON.SCRATCHES_LENGTH" | transloco}}:
              {{detail.visibleSurfacesScratchesLength}} 
              {{"I18N.COMMON.CM" | transloco}}
            </li>
          }

          @if (detail.visibleSurfacesHasDents) {
            <li>
              {{"I18N.COMMON.DENTS_DEPTH" | transloco}}:
              {{detail.visibleSurfacesDentsDepth}} 
              {{"I18N.COMMON.CM" | transloco}}
            </li>
          }

          @if (detail.visibleSurfacesHasMinorDamage) {
            <li>
              {{"I18N.COMMON.MINOR_DAMAGES" | transloco}}:
              {{detail.visibleSurfacesMinorDamage}}
            </li>
          }

          @if (detail.visibleSurfacesHasMajorDamage) {
            <li>
              {{"I18N.COMMON.MAJOR_DAMAGES" | transloco}}:
              {{detail.visibleSurfacesMajorDamage}}
            </li>
          }
        </ul>
      </article>
    }

    @if (detail.applicableHiddenSurfacesDamage) {
      <article>
        <h3>{{"I18N.COMMON.HIDDEN_SURFACES" | transloco}}</h3>

        <ul class="damages-list">
          @if (detail.hiddenSurfacesHasScratches) {
            <li>
              {{"I18N.COMMON.SCRATCHES_LENGTH" | transloco}}:
              {{detail.hiddenSurfacesScratchesLength}} 
              {{"I18N.COMMON.CM" | transloco}}
            </li>
          }

          @if (detail.hiddenSurfacesHasDents) {
            <li>
              {{"I18N.COMMON.DENTS_DEPTH" | transloco}}:
              {{detail.hiddenSurfacesDentsDepth}} 
              {{"I18N.COMMON.CM" | transloco}}
            </li>                
          }

          @if (detail.hiddenSurfacesHasMinorDamage) {
            <li>
              {{"I18N.COMMON.MINOR_DAMAGES" | transloco}}:
              {{detail.hiddenSurfacesMinorDamage}}
            </li>
          }

          @if (detail.hiddenSurfacesHasMajorDamage) {
            <li>
              {{"I18N.COMMON.MAJOR_DAMAGES" | transloco}}:
              {{detail.hiddenSurfacesMajorDamage}}
            </li>
          }
        </ul>
      </article>
    }

    @if (detail.price > 0 && detail.repairPrice > 0) {
      <article>
        <h3>{{"I18N.COMMON.PRICING" | transloco}}</h3>

        <ul class="damages-list">
          <li>
            {{"I18N.COMMON.PRODUCT_PRICE" | transloco}}: {{detail.price}} €
          </li>
          <li>
            {{"I18N.COMMON.PRODUCT_REPAIR_PRICE" | transloco}}: {{detail.repairPrice}} €
          </li>
        </ul>
      </article>
    }  
  </section>
  
</div>


<div stepper-buttons class="hide">
  <button mat-raised-button type="button" matStepperPrevious>
    {{"I18N.COMMON.BACK" | transloco}}
  </button>
  <button mat-raised-button type="button" class="primary"
    (click)="save()">
    {{"I18N.PRODUCT_RECOMMENDATION.GENERATE_RECOMMENDATION" | transloco}}
  </button>
</div>